.buttons {
    display: block;
    background-color: #FFFFFF;
}

.buttons button {
    width: 25%;
    height: 60px;
    font-size: 30px;
    border: 1px solid #CDCDCD;
    background-color: white;
}

.buttons button:hover {
    background-color: #EFEFEF;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;
}